body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(10, 100px);
  height: 100vh;
  grid-gap: 10px;
  
   
}
.content {
  
  border-radius: 10px;
  transition: width 2s, height 2s, transform 1s;
}

.content:hover{
    width: 120px;
    height: 120px;
    
    transform: rotate(360deg);
}