#par1{
    color: blue; 
    text-align: center;
    text-transform: capitalize;
    direction: ltr;
    
     

}
#par2{

    color: red;
    text-align: right;
    text-transform: uppercase;
    line-height: 25px;
    
}
#par3{
    column-rule: green;
    text-align: justify;
    text-transform: lowercase;
    
}
#par4{
    color: fuchsia;
    text-decoration: overline dotted;
    letter-spacing: 5px;
    
}
#par5{
    color: aqua;
    text-decoration: overline;
    text-indent: 10px;
    word-spacing: 15px;
    
    
}
#par6{
    text-shadow:3px 3px 5px red;
    

}