

li{
    list-style-type: none;
    
     
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    color: rgb(185, 94, 154);
  }

html{
    font-family: 'Open Sans', sans-serif;
    color: white;
    
}

button{
    color: white;
    background-color: rgb(255, 114, 75);
    border: none;
}

 img{
     width: 80px;
     height: 80px;
 }