

.navbar{
    background-color: grey;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
li{
   display: inline;
   padding-right: 2rem;
    
}
li a {
    text-decoration: none;
   color: black;  
}



.container{
    border: 15px solid darkblue;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 80%;
    margin: auto;
    margin-top: 80px;


}
p{
    display: none;
}


@media screen and (max-width:1000px) {
    body{
        background-color: rgb(255, 254, 182);
    }
    
}



@media  screen and (max-width: 800px) {
    body{
      background-color: orange;

    }
    .navbar{
        
         
        
        justify-content: space-evenly;
    }

}


@media  screen and (max-width: 600px) {
    body{
      background-color: purple;

    }
    .navbar{
        background-color: aqua;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li a {
         
        text-align: center;
        display: block;
        
        
         
     }
     .container{
        border: 15px solid red;
        
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        width: 80%;
        margin: auto;
        margin-top: 80px;
    
    
    }
    p{
        display: inline;
        
    }
    h1{
        display: none;
    }
}

